body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,h2{
    color: rgb(14, 233, 204);
    
}
p{
    color: darkorange;
}