.column1of2 {
    float: left;
    width: 620px;
    margin: 10px;}
    .column2of2 {
    float: left;
    width: 300px;
    margin: 10px;}
    .column1of3, .column2of3, .column3of3 {
        width: 300px;
        float: left;
        margin: 10px;}