body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;}
    p {
    width: 230px;
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: #efefef;}
    