body {
    background-image: url("images/header.gif");
background-repeat:repeat-x;
background-attachment: fixed;}
img.align-center {
    display: block;
    margin: 0px auto;}
    img.medium {
    width: 250px;
    height: 250px;}